h1{
    font-size: 60px;
}

h3 {
    font-size: 100px;
}

.familiaTexto{
        font-family: "papyrus";
        font-size: 21px;
        color:#B51DE5; 
        text-align: justify;

}

body{
    background-color: pink;

}

.bodyprincipal{
    background-color: powderblue;
}

.header1{
    background-color: green;
}

.header2{
    background-color: blue;
}

.imagenfondo{
    background-image: url(img/medellin.jpg);
    height: 700px;
    background-attachment: fixed;
}

.textorojo{
    color:red;
}


